html {
  font-family: 'Helvetica', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.page-container {
  max-width: 750px;
  margin: 0 auto;
  padding: 0 10px;
  margin-bottom: 80px;
  line-height: 25px;
}

@media (min-width: 768px) {
  .page-container {
    padding-top: 50px;
  }
}

blockquote {
  margin: 0;
  padding: 0;
  padding-left: 1.45rem;
  border-left: 6px solid #ddd;
}
